img {width: 100%;}
// a > img {display: table;}
// .uppercase { text-transform: uppercase; }
// .text-right {text-align: right;}
// .text-center {text-align: center;}
// .bold {font-weight: 700;}
// .medium {font-weight: 500;}
// .light {font-weight: 300; }
// .primaryColor {color: $primaryColor!important;}
